.container {
    min-height: 100vh;
    flex-direction: column;
    display: flex;
}

.resultsContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
}

@media (max-width: 48rem) {
    .resultsContainer {
        flex-direction: column;
    }
}
